* {
    font-family: Arial, Verdana, sans-serif;
    color: #f0f8ff;
    text-align: center;
}

body {
    width: 960px;
    margin: 0 auto;
    background-color: #226194;
}

nav {
    width: 100%;
    background-color: #226194; 
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
}

nav li {
    display: inline;
}

nav a {
    display: inline-block;
    text-decoration: none;
    color: #f0f8ff;
    padding: 10px 15px;
}


